# Rust
target/
Cargo.lock

# mdBook
book/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Font files (copyrighted)
src/fonts/PragmataPro*.ttf
src/fonts/PragmataPro*.woff
src/fonts/PragmataPro*.woff2
src/fonts/PragmataPro*.otf
